.capture{
    height: 70px;
    width:70px;
    border-radius: 5000px;
    align-self: center;
    justify-self: center;
}

.capture.shot{
    background-color:white;
    border:2px solid rgb(146, 21, 21);
    box-shadow: 0 0 0px 4px dodgerblue, 0 0 10px 5px white;
}
.capture.cancel{
    display:block;
    display: grid;
    place-items: center;
    background-color: tomato;
    color:red;
}
.block{
    display: grid;
    border:2px solid red;
    margin:3px;
    place-items: center;
    border-radius: 5000px;
}
.tick{
    background-color:lime
}
.cross{
    background-color:tomato
}
#canvas{
    border:2px solid green;
}
#VideoWrapper::before{
    content: "";
    position:absolute;
    display: block;
    height: 13%;
    width:13%;
    border:2px solid black;
    background-color: rgba(0,0,0,0.7);
}